@import "./variables";

:root {
  @include variables;
  font-size: 10px;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::selection {
  background: var(--color-brand);
  color: var(--color-background);
}

body {
  font-family: var(--font-body);
  font-size: 1.8rem;
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.6;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
ul,
ol {
  margin: 0;
}

a {
  color: inherit;
}
