@import "../styles/mixins/bp";

.Page {
  &__layout {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 4rem;

    @include bp {
      flex-direction: row;
      margin-top: 4rem;
    }
  }

  &__sidebar {
    margin-bottom: 4rem;

    @include bp {
      order: 1;
      margin-left: 7rem;
      width: 35%;
    }

    &--empty {
      display: none;
    }
  }

  &__content {
    max-width: 80rem;
  }

  &__title {
    margin-bottom: 1.5rem;
  }
}
