.PrettyText {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  figure,
  ul,
  ol {
    margin-top: 3rem;

    &:first-child {
      margin-top: 0;
    }

    + p,
    + figure,
    + ul,
    + ol {
      margin-top: 1.5rem;
    }
  }

  ul,
  ol {
    ul,
    ol {
      margin-top: 0;
    }
  }
}
